
SampleData/Contoso/.DS_Store
SampleData/Contoso/csv-1m.7z
SampleData/Contoso/csv-1m/currencyexchange.csv
SampleData/Contoso/csv-1m/customer.csv
SampleData/Contoso/csv-1m/date.csv
SampleData/Contoso/csv-1m/product.csv
SampleData/Contoso/csv-1m/sales.csv
SampleData/Contoso/csv-1m/store.csv
Power BI Sample file/learning Deneb - Contoso 1M.pbix
